[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "comorbidity"]
	path = comorbidity
	url = https://github.com/ellessenne/comorbidity
	shallow = true
	registered = true
	oncran = true
[submodule "KMunicate"]
	path = KMunicate
	url = https://github.com/ellessenne/kmunicate-package
	shallow = true
	registered = true
	oncran = true
[submodule "rsimsum"]
	path = rsimsum
	url = https://github.com/ellessenne/rsimsum
	shallow = true
	registered = true
	oncran = true
